<div id='postbox'>
    <form id='postbox-form'>
        <textarea id='postbox-textarea' placeholder="What's on your mind?"></textarea>
        <input type='submit' id='postbox-submit' value='Post'>
    </form>
</div>