<div id='postbox' class="card">
    <form id='postbox-form'>
        <textarea id='newPostTitle' placeholder="A catchy title!"></textarea>
        <textarea id='newPostBody' placeholder="An intriguing post!"></textarea>
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
</div>
<script src="./js/makePost.js"></script>