<!-- layouts/main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!-- other head elements -->
</head>
<body>
    {{{body}}}
    <!-- common footer, scripts, etc. -->
</body>
</html>