<!DOCTYPE html>
<html>

<head>
    <title>Web Dev Chat Rooms</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 20px;
        }

        #chatBox {
            display: flex;
            flex-direction: column-reverse;
            /* New messages appear at the bottom */
            flex-grow: 1;
            overflow-y: auto;
            /* Allows scrolling */
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
            max-height: 500px;
            /* Adjust this value as needed */
        }

        .message {
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            max-width: 80%;
        }

        .message.sent {
            background-color: #e0f7fa;
            align-self: flex-end;
        }

        .message.received {
            background-color: #e0e0e0;
            align-self: flex-start;
        }

        .chat-inputs {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #messageInput {
            flex-grow: 2;
            margin-right: 10px;
        }

        /* Typing Indicator styling */
        .typing-indicator {
            padding: 5px 10px;
            margin: 0;
            background-color: #e0e0e0;
            border-radius: 5px;
            font-style: italic;
            color: #555;
        }

        #typingIndicatorContainer {
            margin-bottom: 10px;
            text-align: center;
            /* Center the typing indicator */
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Welcome to Web Development Chat, {{name}}!</h1>
        <div class="input-field">
            <select id="roomSelect">
                <option value="" disabled selected>Choose your room</option>
                <option value="htmlCSS">HTML & CSS</option>
                <option value="javascript">JavaScript</option>
                <option value="node">Node.js & Express</option>
                <option value="mongo">MongoDB</option>
                <option value="react">React</option>
                <!-- ... other options ... -->
            </select>
            <label>Room Selection</label>
        </div>
        <button class="btn waves-effect waves-light" onclick="joinRoom()">Join Room</button>

        <div id="chatBox"></div>
        <div id="typingIndicatorContainer" style="display: none;">
            <div id="typingIndicator" class="typing-indicator"></div>
        </div>
        <div class="chat-inputs">
            <input type="text" id="messageInput" placeholder="Type a message..." oninput="emitTyping()">
            <button class="btn waves-effect waves-light blue" onclick="sendMessage()">Send</button>
            <button class="btn waves-effect waves-light red" onclick="leaveRoom()">Leave</button>
        </div>
    </div>
    <!-- Socket.IO Client -->
    <script src="/socket.io/socket.io.js"></script>
    <div id="username" style="display: none;">{{ name }}</div>
    <script>
        console.log(io); // Should log the io function if loaded correctly
        var socket = io();
        socket.on('connect', () => {
            console.log('Connected to the server');
        });

        var currentRoom = '';
        var name = document.getElementById('username').innerText;

        function joinRoom() {
            currentRoom = document.getElementById('roomSelect').value;
            if (currentRoom && name) {
                socket.emit('join', { room: currentRoom, name: name });
                console.log(`Attempting to join room: ${currentRoom} as ${name}`);
                var chatBox = document.getElementById('chatBox');
                chatBox.innerHTML += `<p>You joined ${currentRoom}</p>`;
            } else {
                console.error('Room or name is undefined');
            }
        }

        socket.on('roomUsers', (users) => {
            var chatBox = document.getElementById('chatBox');
            if (!users.length || (users.length === 1 && users[0] === name)) {
                chatBox.innerHTML += '<p>You are the only one in this room</p>';
            } else {
                var usersList = '<p>Users in this room:</p><ul>';
                users.forEach((user) => {
                    usersList += `<li>${user}</li>`;
                });
                usersList += '</ul>';
                chatBox.innerHTML += usersList;
            }
        });

        function leaveRoom() {
            if (currentRoom && name) {
                socket.emit('leave', { room: currentRoom, name: name });
                console.log(`Left room: ${currentRoom}`);
                var chatBox = document.getElementById('chatBox');
                chatBox.innerHTML += `<p>You left ${currentRoom}</p>`;
                currentRoom = ''; // Reset currentRoom variable
            }
        }

        function emitTyping() {
            if (currentRoom) {
                socket.emit('typing', { room: currentRoom, name: name });
            }
        }

        function sendMessage() {
            var messageInput = document.getElementById('messageInput');
            var message = messageInput.value.trim(); // Trim the message to remove whitespace

            if (message) {
                socket.emit('message', { room: currentRoom, name: name, message: message });
                messageInput.value = ''; // Clear the input field after sending
            }
        }

        document.getElementById('messageInput').addEventListener('keydown', function (event) {
            if (event.key === 'Enter' && !event.shiftKey) {
                event.preventDefault(); // Prevent the default action to avoid line break
                sendMessage(); // Call your existing sendMessage function
            }
        });

        function scrollToBottom() {
            var chatBox = document.getElementById('chatBox');
            chatBox.scrollTop = chatBox.scrollHeight - chatBox.clientHeight;
        }

        socket.on('typing', function (data) {
            var typingIndicator = document.getElementById('typingIndicator');
            var typingIndicatorContainer = document.getElementById('typingIndicatorContainer');
            typingIndicator.innerText = data;
            typingIndicatorContainer.style.display = 'block'; // Show the container
            setTimeout(() => {
                typingIndicatorContainer.style.display = 'none'; // Hide the container
            }, 3000);
        });

        socket.on('message', function (data) {
            var chatBox = document.getElementById('chatBox');
            var messageClass = data.name === name ? 'message sent' : 'message received';
            chatBox.insertAdjacentHTML('afterbegin', `<div class="${messageClass}"><strong>${data.name}:</strong> ${data.message}</div>`);
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
</body>

</html>