<div class="postsContainer">
    {{#each posts}}
        {{> post}}
    {{/each}}
</div>

{{!-- TODO: Fix

{{#if logged_in}}
    <div id="chat-container"></div>
        {{> chat}}
    </div>
{{/if}} --}}

{{#if logged_in}}
    {{> postbox}}
{{/if}}