<div id="mainPageBody" class="row width">

    <div class="postsContainer col m10">
        {{#each posts}}
            {{> post}}
        {{/each}}
    </div>

    <div class="postBoxContainer col m2">
        {{#if logged_in}}
            {{> postbox}}
        {{/if}}
    </div>
    
</div>

{{!-- TODO: Fix chat

{{#if logged_in}}
    <div id="chat-container"></div>
        {{> chat}}
    </div>
{{/if}} --}}
