<div class="row" style="margin-top: 5rem;">
    <div class="col s12 m6 offset-m3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">ChatSideApp Login</span>

                <form action="/login" method="post">
                    <div class="input-field">
                        <input id="email" type="email" name="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input id="password" type="password" name="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="card-action right-align">
                        <button type="submit" class="btn waves-effect waves-light">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>