{{!-- TODO: Fix scripts not loading on profile page. --}}

<h2 class="profileUserName">{{user.name}}</h2>

{{#if logged_in}}
    {{> postbox}}
{{/if}}

<div class="postsContainer">
    {{#each user.posts}}
        {{> post}}
    {{/each}}
</div>

<div class="ProfileCommentsContainer">
    {{#each user.comments}}
        {{this.comment_body}}
    {{/each}}
</div>
