<!DOCTYPE html>
<html>
<head>
    <title>Profile Updated</title>
    <!-- Other head elements -->
</head>
<body>
    <h4>Profile Update Successful!</h4>
    <p>You will be redirected to your profile shortly.</p>

    <!-- JavaScript for redirection after a delay -->
    <script>
        setTimeout(function() {
            window.location.href = '/profile';
        }, 2000); // Redirect after 2 seconds
    </script>
</body>
</html>